<% provide(:title, 'Projects and Interests') %>
  <h1>NLP is the Thing for Me</h1>
  Currently, my main interest is in the field of natural language processing. <br>
  I became interested in the subject during my sophomore year as an undergrad, <br>
  when the professor of my computer architecture course told the class that he <br>
  hoped none of us were planning on becoming application developers due. His <br>
  claim was that the process of engineering simple software would most likely <br>
  be completely automated within the next ten years, and that even people with <br>
  no technical background would be able to generate most of the software they <br>
  needed.<br>
  Most of the class laughed at the idea, but ever since that moment, I have been <br>
  obsessed with how to make software development as approachable as possible for <br> 
  engineering civilians. <br>
  Seeing as how ordinary people would only be able to express their software needs <br>
  through an unformatted human language, I turned to the study of natural language <br>
  processing.

  <h1>Current Projects / Areas of Study</h1>
  <h2>Algorithm/Specification Alignment Corpus Collection</h2>
  During the Summer of 2013, I constructed a web app to crowdsource the generation <br>
  of Java code based on algorithm descriptions I provided. The goal of this project <br>
  is to build up a corpus of aligned descriptions and algorithms that could later be <br>
  used to devise some sort of translation scheme. The app is currently offline as a <br>
  result of excessive noisy communications. Once I have created a strategy to filter <br>
  noise (i.e. intentionally unusable algorithms), I will redeploy the app and continue <br>
  with collection.<br>
  
  <h2>Machine Language Processing</h2>
  I was recently exposed to the applications of NLP in the field of malware detection. <br>
  Despite the fact that I am by no means a cybersecurity buff, I thought it might be <br>
  worth it to do some reading on the subject. I am currently learning about analogous <br>
  techniques between NLP and MLP (machine language processing).<br>