<% provide(:title, 'Resume') %>
<h1>Resume</h1>


    OBJECTIVE: To apply my skills in software and web development technologies and<br>
    techniques on large and impactful projects.

    <h2>EDUCATION</h2>

    <b>Computer Science and Systems, Bachelor of Science</b><br>
    June 14, 2013<br>
    Minor in Mathematics<br>
    University of Washington - Tacoma<br>
    GPA: 3.50<br>

    <b>Computer Science and Systems, Master of Science</b><br>
    Expected 2014

    <h2>PROJECTS</h2>

    <b>Natural Language/Code Text Alignment</b><br>
    2013 - Present<br>
    Created Python based application for gathering text corpora from Stack Exchange.<br>
    Developing Rails application to facilitate crowdsourced corpora generation.<br>

    <b>Database Management Front End Website</b><br>
    2013<br>
    Worked as the lead of a three man team to develop and deploy a MySQL database and<br>
    PHP based dynamic website as a simulation of an agricultural administration page.<br>

    <b>Contest Registration Web Application</b><br>
    2013<br>
    Worked as a member of a team to implement a contest registration system in Java for a<br>
    University of Washington class project. Major contributions included serialized data<br>
    storage, navigation design, and account verification.<br>

    <b>Spreadsheet Application</b><br>
    2012<br>
    Implemented a spreadsheet application with features such as cycle detection,<br>
    summation, and raw type cell input using Java as a class project at the University of<br>
    Washington.<br>
  <h2>EXPERIENCE</h2>
    <b>Mathematics and Computer Science Tutor</b><br>
    Tacoma, WA University of Washington<br>
    2012 – Present<br>
    Instructed university level students on Math and Computer Science topics ranging from<br>
    modeling techniques using differential equations to effective algorithm writing to Java<br>
    fundamentals.

    <b>Infantry Sergeant</b><br>
    US Army; Joint Base Lewis-McChord, WA<br>
    2004 – 2010

    <h2>SKILLS</h2>
    •Native application development with Java, C, Python<br>
    •Web app development using Rails, HTML/(Sa)CSS, SaCSS, PHP, Java/CoffeeScript<br>
    •Relational Database development and administration (MySQL, PostgreSQL, SQLite)<br>
    •Effective use of testing tools such as RSpec and JUnit in Test Driven Development<br>