<footer class="footer">
  <small>
    All About James Marquardt by James Marquardt
  </small>
  <nav>
    <ul>
      <li><a href="mailto:jamarq@uw.edu">Email Me</a><li>
      <li><a href="http://www.linkedin.com/pub/james-marquardt/65/ba6/226">LinkedIn</a></li>
      <li><a href="http://bbc.com">News</a></li>
    </ul>
  </nav>
</footer>