<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "All About James Marquardt", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Resume", resume_path %></li>
              <li><%= link_to "Projects", projects_path %></li>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>